<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<!-- timeout in milliseconds -->
	<context-param>
		<param-name>connection_timeout</param-name>
		<param-value>5000</param-value>
	</context-param>
	<context-param>
		<param-name>data_timeout</param-name>
		<param-value>10000</param-value>
	</context-param>
	<context-param>
		<param-name>persist_docs</param-name>
		<param-value>100000</param-value>
	</context-param>
	<context-param>
		<param-name>RAMBufferSizeMB</param-name>
		<param-value>64</param-value>
	</context-param>
	<context-param>
		<param-name>MergeFactor</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>CompoundFile</param-name>
		<param-value>true</param-value>
	</context-param>
		<context-param>
		<param-name>LIVE_LOGGER_MAX_CLIENTS</param-name>
		<param-value>10</param-value>
	</context-param>
	
	
	<filter>
		<filter-name>Invocation context filter</filter-name>
		<filter-class>com.searchblox.ads.adapter.InvocationContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Invocation context filter</filter-name>
		<url-pattern>/servlet/AdServlet</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			com.searchblox.index.ContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ActiveDirectorySearchFilter</filter-name>
		<filter-class>com.searchblox.search.ActiveDirectorySearchFilter</filter-class>
	</filter>
	<filter-mapping>
		<!-- this filter basically intercepts response JSON from SearchServlet and filters out results.result entries based on Active Directory user role -->
		<filter-name>ActiveDirectorySearchFilter</filter-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>AutoSuggest</servlet-name>
		<servlet-class>
			com.searchblox.search.AutoSuggest
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LicenseServlet</servlet-name>
		<servlet-class>
			com.searchblox.admin.LicenseServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.searchblox.admin.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.searchblox.admin.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TemplateServlet</servlet-name>
		<servlet-class>
			com.searchblox.admin.TemplateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollectionServlet</servlet-name>
		<servlet-class>
			com.searchblox.admin.CollectionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>
			com.searchblox.search.SearchServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexerServlet</servlet-name>
		<servlet-class>
			com.searchblox.admin.IndexerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>
			com.searchblox.report.ReportServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>
			com.searchblox.search.CategoryServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomServlet</servlet-name>
		<servlet-class>
			com.searchblox.admin.CustomServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.searchblox.search.FileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailViewerServlet</servlet-name>
		<servlet-class>com.searchblox.search.EmailViewer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>
			com.searchblox.search.EmailServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollectionListServlet</servlet-name>
		<servlet-class>
			com.searchblox.collectionlist.CollectionListServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportListServlet</servlet-name>
		<servlet-class>
			com.searchblox.reportlist.ReportListServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReplicationServlet</servlet-name>
		<servlet-class>
			com.searchblox.admin.ReplicationServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdServlet</servlet-name>
		<servlet-class>com.searchblox.ads.adverts.AdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>com.searchblox.ads.client.ClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>com.searchblox.search.DBViewer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PercolateServlet</servlet-name>
		<servlet-class>com.searchblox.percolate.Percolator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HighlighterServlet</servlet-name>
		<servlet-class>com.searchblox.search.HighlighterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DropboxTokenGenerator</servlet-name>
		<servlet-class>com.searchblox.scanner.dropbox.DropboxTokenGenerator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoogleDriveTokenGenerator</servlet-name>
		<servlet-class>com.searchblox.scanner.googleDrive.GoogleDriveTokenGenerator</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>LiveLogger</servlet-name>
		<servlet-class>uk.co.jaimon.LiveLogger</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LiveLogFeeder</servlet-name>
		<servlet-class>uk.co.jaimon.LiveLogFeeder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogSelector</servlet-name>
		<servlet-class>uk.co.jaimon.LogSelector</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AutoSuggest</servlet-name>
		<url-pattern>/servlet/AutoSuggest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LicenseServlet</servlet-name>
		<url-pattern>/servlet/LicenseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TemplateServlet</servlet-name>
		<url-pattern>/servlet/TemplateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollectionServlet</servlet-name>
		<url-pattern>/servlet/CollectionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexerServlet</servlet-name>
		<url-pattern>/servlet/IndexerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/servlet/ReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/servlet/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomServlet</servlet-name>
		<url-pattern>/api/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/servlet/FileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailViewerServlet</servlet-name>
		<url-pattern>/servlet/EmailViewer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/servlet/EmailServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CollectionListServlet</servlet-name>
		<url-pattern>/servlet/CollectionListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportListServlet</servlet-name>
		<url-pattern>/servlet/ReportListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplicationServlet</servlet-name>
		<url-pattern>/servlet/ReplicationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdServlet</servlet-name>
		<url-pattern>/servlet/AdServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/servlet/Client</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/servlet/DBServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PercolateServlet</servlet-name>
		<url-pattern>/servlet/percolate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HighlighterServlet</servlet-name>
		<url-pattern>/servlet/HighlighterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DropboxTokenGenerator</servlet-name>
		<url-pattern>/servlet/DropboxTokenGenerator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoogleDriveTokenGenerator</servlet-name>
		<url-pattern>/servlet/GoogleDriveTokenGenerator</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>LiveLogger</servlet-name>
		<url-pattern>/logger/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiveLogFeeder</servlet-name>
		<url-pattern>/liveLogFeeder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogSelector</servlet-name>
		<url-pattern>/livelog</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<!-- <welcome-file-list> <welcome-file>index.jsp</welcome-file> </welcome-file-list> -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/admin/errorpage.jsp</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Forbidden</web-resource-name>
			<url-pattern>/config.xml</url-pattern>
			<url-pattern>/license.xml</url-pattern>
			<url-pattern>/index/*</url-pattern>
			<url-pattern>/spellindex/*</url-pattern>
			<url-pattern>/synonyms/*</url-pattern>
			<url-pattern>/report/*</url-pattern>
			<url-pattern>/ext/*</url-pattern>
			<url-pattern>/publish/*</url-pattern>
			<url-pattern>/stylesheets/*</url-pattern>
			<url-pattern>/stopwords/*</url-pattern>
			<url-pattern>/logs/*</url-pattern>
			<url-pattern>/admin/content.jsp</url-pattern>
			<url-pattern>/admin/menu1.jsp</url-pattern>
			<url-pattern>/admin/menu2.jsp</url-pattern>
			<url-pattern>/admin/header.jsp</url-pattern>

			<!-- Patterns to prevent directory listing -->
			<!-- Start -->
			<url-pattern>/admin/adm/*</url-pattern>
			<url-pattern>/admin/collection/*</url-pattern>
			<url-pattern>/admin/reports/*</url-pattern>
			<url-pattern>/admin/results/*</url-pattern>
			<url-pattern>/admin/search/*</url-pattern>
			<!-- End -->

		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Test Realm</realm-name>
		<form-login-config>
			<form-login-page>/search.jsp</form-login-page>
			<form-error-page>/search.jsp</form-error-page>
		</form-login-config>
	</login-config>
	

</web-app>
	
